In [1]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/nagdakhu/.local/lib/python3.10/site-packages (2.3.1)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Requirement already satisfied: tzdata>=2022.7 in /home/nagdakhu/.local/lib/python3.10/site-packages (from pandas) (2025.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/nagdakhu/.local/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: numpy>=1.22.4 in /home/nagdakhu/.local/lib/python3.10/site-packages (from pandas) (2.2.6)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [3]:
pd.__version__

'2.3.1'

In [8]:
df = pd.read_csv("yellow_tripdata_2021-01.csv", nrows=100)
# limit number of rows read because file is huge

In [9]:
df["tpep_pickup_datetime"] = pd.to_datetime(df["tpep_pickup_datetime"])
df["tpep_dropoff_datetime"] = pd.to_datetime(df["tpep_dropoff_datetime"])

In [10]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [11]:
# To Take this dataset and put it into postgres: 
# 1. Create SQLAlchemy Engine object - this is an object that knows what database you're using and how to access it.
# 2. Create postgres customized DDL statement via the pd.io.sql.get_schema

In [12]:
# create_engine() creates a SQLAlchemy Engine object, which is your Python program’s gateway to a SQL database (in this case, PostgreSQL).
# Think of engine as database gateway object — every time you pass it to pandas or SQLAlchemy functions, they know how to talk to your database.

from sqlalchemy import create_engine

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [13]:
# without print() statement below, output not properly formatted
# Output below is in DDL
# con=engine tells function what database to create DDL for

print(pd.io.sql.get_schema(df, name="yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [22]:
# This is a chunked iterator over your CSV file.
df_iter = pd.read_csv("yellow_tripdata_2021-01.csv", iterator=True, chunksize=100000)

# You can pull out chunks like this, each chunk is 100000 rows.
# Calling next(df_iter) the first time gives you the first chunk
df_chunk = next(df_iter)
df_chunk

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1,2021-01-04 14:04:31,2021-01-04 14:08:52,3,0.70,1,N,234,224,2,5.0,2.5,0.5,0.00,0.0,0.3,8.30,2.5
99996,1,2021-01-04 14:18:46,2021-01-04 14:35:45,2,3.30,1,N,234,236,1,14.5,2.5,0.5,3.55,0.0,0.3,21.35,2.5
99997,1,2021-01-04 14:42:41,2021-01-04 14:59:22,2,4.70,1,N,236,79,1,17.0,2.5,0.5,4.05,0.0,0.3,24.35,2.5
99998,2,2021-01-04 14:39:02,2021-01-04 15:09:37,2,17.95,2,N,132,148,1,52.0,0.0,0.5,5.00,0.0,0.3,60.30,2.5
99999,2,2021-01-04 14:49:36,2021-01-04 14:54:44,5,0.37,1,N,236,236,2,5.0,0.0,0.5,0.00,0.0,0.3,8.30,2.5

In [23]:
df_chunk["tpep_pickup_datetime"] = pd.to_datetime(df_chunk["tpep_pickup_datetime"])
df_chunk["tpep_dropoff_datetime"] = pd.to_datetime(df_chunk["tpep_dropoff_datetime"])

In [24]:
df.head(n=0).to_sql(name="yellow_taxi_data", con=engine, if_exists="replace")

0

In [25]:
# %time - tells us how long it took to insert the data into database
# this code just inserts the first chunk of 100000 rows into the database

%time df_chunk.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")

# for df_chunk in df_iter:b
#     df_chunk.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")

CPU times: user 5.55 s, sys: 19.4 ms, total: 5.57 s
Wall time: 8.49 s

1000

In [26]:
from time import time

In [27]:
for df_chunk in df_iter:
    t_start = time()

    df_chunk["tpep_pickup_datetime"] = pd.to_datetime(df_chunk["tpep_pickup_datetime"])
    df_chunk["tpep_dropoff_datetime"] = pd.to_datetime(df_chunk["tpep_dropoff_datetime"])
    df_chunk.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")


    t_end = time()
    
    print("inserted another chunk..., took %.3f second" % (t_end - t_start))

inserted another chunk..., took 13.216 second
inserted another chunk..., took 14.161 second
inserted another chunk..., took 11.329 second
inserted another chunk..., took 11.776 second
inserted another chunk..., took 21.417 second
inserted another chunk..., took 15.677 second
inserted another chunk..., took 22.754 second
inserted another chunk..., took 13.005 second
inserted another chunk..., took 11.930 second
inserted another chunk..., took 10.231 second
inserted another chunk..., took 10.164 second

/tmp/ipykernel_25241/828955062.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  for df_chunk in df_iter:

inserted another chunk..., took 10.429 second
inserted another chunk..., took 8.650 second